@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-9rm4pc');
	src:url('/fonts/icomoon.eot?#iefix-9rm4pc') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-9rm4pc') format('woff'),
		url('/fonts/icomoon.ttf?-9rm4pc') format('truetype'),
		url('/fonts/icomoon.svg?-9rm4pc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
	content: "\47";
}

